{% set jj_icon = "󱗆 " -%}
{% set git_icon = "󰊢 " -%}
{% set bookmark_prefix = "" -%}
{% set rebasing_icon = "󰹲" -%}
{% set conflict_icon = "󰽪" -%}
{% set divergent_icon = "󰃻" -%}
{% set hidden_icon = "󰘤" -%}
{% set immutable_icon = "󰌾" -%}
{% set empty_icon = "∅" -%}
{% set stale_icon = "󰇘" -%}
{% set ahead_icon = "⇡" -%}
{% set behind_icon = "⇣" -%}
{% set stash_icon = "󰏗 " -%}
{% set files_icon = "󰈔 " -%}
{% set lines_icon = "󰗚 " -%}
{% set tracking_ahead = "⇡" -%}
{% set tracking_behind = "⇣" -%}
{% set tracking_sideways = "⇕" -%}
{% set workspace_open = "󰐅 (" -%}
{% set workspace_close = ")" -%}
{% include "detail.tera" %}
